doctype
html
  head
    title #{title} - QueueUp
    script(src="/javascripts/jquery.js")
    link(rel='stylesheet', href="/styles/bootstrap.css")
    link(rel='stylesheet', href="/styles/layout.css")
  body
    #background
    .container
      .content
        block content
